.wrapper {
  max-width: 600px;
  display: block;
  margin: 30px auto;
}
.body {
  max-width: 600px;
  display: block;
  margin: 0px auto;
  padding: 30px 50px 70px;
  background-color: #ffffff;
  border: 1px solid #f1eee9;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}
.imageWeather {
  margin: 0 auto;
  display: block;
}
.input-group {
  padding: 20px 20px 20px 20px;
}
button {
  display: inline;
}

.row {
  padding: 20px;
}
.row3 {
  font-size: 25px;
  text-align: left;
  color: #15133c;
  margin-bottom: 0px;
  margin: 0px 0px 0px 5px;
}
.row3:first-letter {
  text-transform: capitalize;
}
.row2 {
  font-size: 14px;
  text-align: left;
  color: #73777b;
  font-style: italic;
  margin-top: 0px;
  margin: 0px 0px 0px 5px;
}
.row4 {
  font-size: 18px;
  text-align: right;
  color: #15133c;
  font-style: bold;
  line-height: 85px;
  margin: 0px 5px 0px 0px;
}
.weather-temperature img {
  height: 64px;
  margin: 0px 0px 30px 0px;
  margin-right: 3px;
}
.weather-temperature .temperature {
  font-size: 58px;
  color: #f03a17;
}
.weather-temperature .units {
  position: relative;
  font-size: 16;
  top: -28px;
}
.weather-temperature .active {
  cursor: default;
}
.weather-temperature .active:hover {
  color: #15133c;
}

a {
  text-decoration: none;
  color: #15133c;
}
.row5 {
  font-size: 18px;
  text-align: right;
  margin: 10px 60px 0px 0px;
}
.lastUpdate {
  font-size: 14px;
  text-align: center;
  color: #73777b;
  font-style: italic;
  margin-top: 0px;
  margin: 0px 5px 0px 0px;
}
.weatherForecast {
  text-align: center;
  color: #15133c;
  margin: 0px 0px 0px 5px;
}
.weatherForecastDate {
  font-size: 13px;
  margin-bottom: 2px;
  color: #f03a17;
  font-weight: bold;
}

.weatherForecastTemperature {
  font-size: 13px;
  margin-top: 3px;
}
.weatherForecastTemperatureMin {
  opacity: 0.7;
}
.developer {
  color: #73777b;
  text-align: center;
}
